<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.mcfm">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="문화교실"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Coach_Page.Coach_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />-

       <!-- <activity android:name=".Main.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <activity android:name=".ChatActivity.ChatActivity"
            android:windowSoftInputMode="adjustUnspecified"
            android:parentActivityName=".Main.MainActivity"
            />
        <activity android:name=".Dialog.First_Recycler_Item_Click_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.First_Recycler_Item_Click_confirm_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />

        <activity android:name=".Report.TutorReportActivity"
            />
        <activity android:name=".Report.TuteeReportActivity"
            />
        <activity android:name=".Dialog.Fourth_Recycler_Item_QNA_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.Fourth_Recycler_Item_Speaker_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.Fourth_Recycler_Item_Tuty_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.Fourth_Recycler_Item_I_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.Fourth_Recycler_Item_Developer_Dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.SubmitReportDialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
        <activity android:name=".Dialog.Calender_dialog"
            android:theme="@style/Theme.AppCompat.Dialog"
            />
    </application>
</manifest>